extends layout
block title
  title 系统之家-用户列表
append links
  link(rel='stylesheet', href='/stylesheets/userlist.css')
block content
  .row
    .col-md-2.col-sm-4.col-xs-6 序号
    .col-md-2.col-sm-4.col-xs-6 用户名
  each user, index in users
    .row
      .col-md-2.col-sm-4.col-xs-6 #{index + 1}
      .col-md-2.col-sm-4.col-xs-6 #{user.name}
  ul.list-inline
    each user, index in users
      li #{user.name}`s order is #{index + 1}
  ul.list-inline
    each value, key in {"name": "n1", "age": '18'}
      li #{key}: #{value}
